# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
project_env/
esm_env/
venv/
.env/

# Data & outputs
*.npy
*.csv
*.fasta
*.txt

# OS
.DS_Store

# Models (ignore by default)
*.joblib

# ALLOW ORACLE MODEL
!spillover_classifier.joblib