# Virtual environments
project_env/
esm_env/
venv/
.env/

# Python cache
__pycache__/
*.pyc
*dll
*.so
*.pyd
*.csv

# OS junk
.DS_Store
Thumbs.db

# Large model caches
*.pt
*.pth

# Logs
*.log

*.npy
*.joblib
*.fasta
X_*.npy
y_*.npy
esm_embeddings.npy
project_env/
